.page-card {
  width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: 'Roboto';
}
.search-heading {
  font-weight: 500;
  font-size: 24px;
}
.user-post-container-search {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #7b8794;
  padding: 15px;
  border-radius: 5px;
}
.user-post-item {
  width: 1040px;
  border: 1px #dbdbdb solid;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 5px;
}
.user-pic-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-pic-story {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #e20337, #c60188, #7700c3);
  border-image-slice: 1;
  background-origin: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.username {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.user-post-img {
  width: 100%;
  height: 614px;
}
.post-info {
  padding-left: 24px;
}
.user-reactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.reaction-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.like {
  font-weight: 500;
  font-size: 14px;
}
.user-comment {
  font-size: 14px;
  font-weight: 500;
}
.comment {
  font-weight: 400;
}
.empty-search-cont {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.empty-search-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-not-found-img {
  width: 100%;
}
.search-not-found {
  color: #262626;
  font-size: 32px;
  font-weight: 500;
}
.search-not-found-des {
  color: #989898;
  font-size: 20px;
  font-weight: 400;
}
.try-again {
  padding: 12px 32px;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  width: 121px;
  height: 48px;
  background-color: #4094ef;
  font-size: 13px;
}
